<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14941732790-mav7ke5blbbmlrmps7mu1e89trpfe75t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14941732790-mav7ke5blbbmlrmps7mu1e89trpfe75t</string>
	<key>API_KEY</key>
	<string>AIzaSyDwTfBxIzt_pXLLf9GOyr6hqMHYZM4lh4c</string>
	<key>GCM_SENDER_ID</key>
	<string>14941732790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.homeU</string>
	<key>PROJECT_ID</key>
	<string>uta-housing-e3107</string>
	<key>STORAGE_BUCKET</key>
	<string>uta-housing-e3107.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14941732790:ios:055abde2599d689cb74b17</string>
</dict>
</plist>